<HTML>
<HEAD><TITLE>Global Admin</TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFCA" MARGINWIDTH="0" MARGINHEIGHT="5" LEFTMARGIN="0"
 TOPMARGIN="0" LINK="#800000" VLINK="#800000" ALINK="#0000FF">
<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="LEFT" VSPACE="0"
HSPACE="0">
      <TR>
        <TD BGCOLOR="#FFFFCA" ALIGN="LEFT"><FONT SIZE="-2" FACE="verdana,arial"><B>
  &nbsp;<A HREF="../index.php?r=admin_bl/Eto_left_index/Index" TARGET="main" onclick="change();">ETO</A> 
  &nbsp;
 &nbsp;<A HREF="../index.php?r=site/logout" target="_top">Log  Out</A>&nbsp;</B></FONT></TD>
      </TR>
    </TABLE>
  </BODY>
</HTML>
      